<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tux the mascot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="../public/css/styles.css">


  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
      <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Tux The Mascot</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="/tux" class="nav-link">Tux</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Want to Know About Tux?</h1>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/tux" role="button">Get Tux Info</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Origins</h3>
                <p>The concept of the Linux brand character being a penguin came from Linus Torvalds, the creator of Linux. According to Jeff Ayers, Linus Torvalds had a "fixation for flightless, fat waterfowl" and Torvalds claims to have contracted "penguinitis" after being nibbled by a little penguin on a visit to the National Zoo & Aquarium, Canberra, Australia, joking that the disease "makes you stay awake at nights just thinking about penguins and feeling great love towards them".    </p>
            </div>
            <div class="col-lg-6">
                <h3>Linux Mascot Name</h3>
                <p>When it came to naming the mascot, Torvalds was unavailable, so the developers launched a contest to name the penguin while Linus wasn’t around. The first name to gain any popularity was “Home,” since the new mascot (designed by Larry Ewing) held a remarkable resemblance to Homer Simpson. It wasn’t until James Hughes suggested Tux (which stands for Torvalds UniX) that the Linux mascot had a name.
<a href="https://www.techrepublic.com/article/tux-a-brief-history-of-the-linux-mascot/">And, as they say, the rest is history.</a>
 </p>
            </div>
        </div>
    </div>














    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
