<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Sharks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../public/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>
 <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
      <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Tux The Mascot</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="/tux" class="nav-link">Tux</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="jumbotron text-center">
    <h1>Tux Info</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p>
                <div class="caption"> "I've been to Australia several times, these days mostly for Linux.Conf.Au. But my first trip—and the one when I was bitten by a ferocious fairy penguin: you really should keep those things locked up!—was in 93 or so, talking about Linux for the Australian Unix Users Group." -Linus Torvald.              </div>
                <img src="../public/image/pngegg.png" alt="Tux">
            </p>
        </div>
        <div class="col-lg-6">
            <p>
            <div class="caption">In 1996 after an initial design suggestion made by Alan Cox, use of an image Torvalds found on an FTP site,  showing a penguin figurine depicted in a similar style to the Creature Comforts characters created by Nick Park, the concept for Tux was further refined by Torvalds on the Linux kernel mailing list. <br>
Linus Torvalds' "favourite penguin picture", used as inspiration for Tux
Torvalds was looking for something fun and sympathetic to associate with Linux, and he felt that a slightly fat penguin sitting down after having eaten a great meal perfectly fit the bill. <br>

The final and original design was a submission for a Linux logo contest by Larry Ewing using the first publicly released version (0.54) of GIMP, a free software graphics package. It was released by him under the following condition:
Permission to use and/or modify this image is granted provided you acknowledge me lewing@isc.tamu.edu and The GIMP if someone asks. <br>

Since Tux won none of the three competitions that were held Tux is formally known as the Linux brand character and not the logo. <br>

The first person to call the penguin "Tux" was James Hughes, who said that it stood for "(T)orvalds (U)ni(X)". However, tux is also an abbreviation of tuxedo, the outfit which bears resemblance in appearance to a penguin. </div>
                <img src="../public/image/Ccpenguin,_the_ancestor_of_Tux.jpg" alt="origin tux">
            </p>
        </div>
    </div>
</div>

</html>
